.main-carousel__slide{
  height: 600px !important;
}

.main-carousel__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-button-prev, .swiper-button-next{
  color: #ddd !important;
  width: 100px !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 27px !important;
}
